<div style="WIDTH:100%!important;PADDING-BOTTOM:0;PADDING-TOP:0;PADDING-LEFT:0;MARGIN:0;PADDING-RIGHT:0" marginwidth="0" marginheight="0">
    <center>
        <table style="WIDTH:100%!important;BACKGROUND:#fff;PADDING-BOTTOM:0;PADDING-TOP:0;PADDING-LEFT:0;MARGIN:0;PADDING-RIGHT:0" cellspacing="0" cellpadding="8" border="0">
            <tbody>
                <tr>
                    <td valign="top">
                        <table style="BORDER-TOP:#dceaf5 1px solid;BORDER-RIGHT:#dceaf5 1px solid;BORDER-BOTTOM:#dceaf5 1px solid;BORDER-LEFT:#dceaf5 1px solid;border-radius:4px" cellspacing="0" cellpadding="0" align="center" border="0">
                            <tbody>
                                <tr>
                                    <td height="6" colspan="3"></td>
                                </tr>
                                <tr style="LINE-HEIGHT:0">
                                    <td style="FONT-SIZE:0" height="1" width="100%" align="center">
                                        <img style="WIDTH:100px;MAX-HEIGHT:100px" alt="" src="@Model.PhotoUrl" width="40">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="LINE-HEIGHT:25px" cellspacing="0" cellpadding="0" align="center" border="0">
                                            <tbody>
                                                <tr>
                                                    <td height="30" colspan="3"></td>
                                                </tr>
                                                <tr>
                                                    <td width="36"></td>
                                                    <td style="FONT-SIZE:11pt;MAX-WIDTH:454px;FONT-FAMILY:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';BORDER-COLLAPSE:collapse;COLOR:#444" valign="top" width="454" align="left">
                                                        @Model.Body
                                                    </td>
                                                    <td width="36"></td>
                                                </tr>
                                                <tr>
                                                    <td height="36" colspan="3"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" align="center" border="0">
                            <tbody>
                                <tr>
                                    <td height="10"></td>
                                </tr>
                                <tr>
                                    <td style="BORDER-COLLAPSE:collapse;PADDING-BOTTOM:0;PADDING-TOP:0;PADDING-LEFT:0;PADDING-RIGHT:0">
                                        <table cellspacing="0" cellpadding="0" align="center" border="0">
                                            <tbody>
                                                <tr style="FONT-SIZE:11px;FONT-FAMILY:proxima_nova,'Open Sans','Lucida Grande','Segoe UI','Arial','Verdana','Lucida Sans Unicode',Tahoma,'Sans Serif';COLOR:#a8b9c6">
                                                    <td width="400" align="left"></td>
                                                    <td width="128" align="right">© @Model.Year  Alaska Housing Finance Corporation</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>